CORE_SERVICE_PORT=9090
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://example.com/callback
MUSIC_DL_PRIMARY_DB=mongodb://mongodb:27017/m-dl
SPOTIFY_ACCESS_TOKEN_URL=https://accounts.spotify.com/api/token
TMP_DIRECTORY_PATH=/opt/m-dl
SPOTIFY_ACCESS_TOKEN_FILE=sp_access_token.json
ACCESS_TOKEN_REFRESH_INTERVAL_MS=2700000
MAX_TRACK_ALLOWED_FOR_PLAYLIST=500
SPOTIFY_PLAYLIST_TRACK_OFFSET_START=0
PLAYLIST_TRACK_SAVING_CHUNK_SIZE=5
SPOTIFY_API_HOST=https://api.spotify.com
SPOTIFY_TRACK_CACHE_TTL_DURATION_MS=600000
SPOTIFY_ALBUM_CACHE_TTL_DURATION_MS=600000
SPOTIFY_PLAYLIST_CACHE_TTL_DURATION_MS=300000
SPOTIFY_API_TIMEOUT_MS=600000
MAX_API_TIMEOUT_MS=600000
MAX_RETRY=3
MUSIC_MAX_DURATION_MS=6000000
YT_MP4_CONVERTER_URL=https://ssyoutube.com/api/convert
YT_GOOGLE_CDN_TOKEN=googlevideo.com
YT_MP4_QUALITY=360
DOWNLOAD_PATH_MP4=/tmp/m-dl/downloads
DOWNLOAD_PATH_MP3=/tmp/m-dl/downloads
DOWNLOAD_PATH_M4A=/tmp/m-dl/downloads
MUSIC_DL_STORAGE_ACCESS_TOKEN=
MUSIC_DL_STORAGE_USER=music-dl
MUSIC_DL_STORAGE_USER_EMAIL=music-dl@m-dl.com
MUSIC_DL_BUCKET_NAME=repos/github-username/repo-name/contents
MUSIC_DL_STORAGE_HOST=https://api.github.com
MUSIC_DL_CDN_HOST=https://cdn.m-dl.nilanjan.tech
MUSIC_DL_YT_DOWNLOADER_URL=http://downloader:9090/api/download
MAX_CACHE_TTL_MS=600000
MAX_SLEEP_DURATION_MS=60000
SPOTIFY_TRACK_CACHE_KEY_PREFIX=spotify::track::
SPOTIFY_ALBUM_CACHE_KEY_PREFIX=spotify::album::
SPOTIFY_PLAYLIST_CACHE_KEY_PREFIX=spotify::playlist::
IP_TRACKER_CACHE_KEY_PREFIX=trace::ip::
REDIS_URL=redis://redis:6379
RABBIT_MQ_URL=amqp://rabbitmq:5672
IP_TRACKER_QUEUE=trace_ip_queue
IP_TRACKER_API=http://ip-api.com
IP_INFO_API_BASE_URL=http://ip-api.com/json
CONSUMER_SLEEP_DURATION_MS=120000
IP_TRACKING_RUNNING_STATUS=running
